# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution / Build
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Application Specific
models/
*_audiobook/
*.m4b
*.wav
concat_list.txt
metadata.txt

# Logs
*.log
check_flet.py
verify_flet_comprehensive.py
debug_filepicker.py
main_old.py
config.json

check_flet_real.py
