customtkinter
sounddevice
--find-links https://k2-fsa.github.io/sherpa-onnx/cuda.html
sherpa-onnx==1.12.23+cuda
EbookLib
beautifulsoup4
soundfile
requests
numpy
mutagen
tkinterdnd2
Pillow
imageio-ffmpeg
pystray
plyer
